*{margin:0;
padding:0;
box-sizing:border-box;

}
.container2{
display:flex;
flex-wrap:wrap;
justify-content:space-around;
gap:20px;
margin-bottom:10px;
}

.box p{
font-size:18px;
text-align:center;
font-style:italic;
}
button{
width:200px;
height:40px;
color:white;
font-size:16px;
gap:3px;
margin:0px;
background:rgb(250,123,00);
border-radius:15px;
cursor:pointer;
}
button::before{
position:absolute;
content:'';

}
button:hover{
color:black;
margin-bottom:5px;}

.map{
text-align:center;
margin-left:20px;
background:rgb(250,123,0);
width:100%;
}
iframe{
width:90%;
}