<!DOCTYPE html>
{% extends 'navbar.html' %}
{% block content %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mens.css' %}">
</head>
<body>
    <div class="men1">
    <img src="{% static 'images/menbanner1.png' %}" alt="img1" width="99%">
</div>
<div class="container2">
    <div class="box"><img src="{% static 'images/mens1.jpg' %}" alt="men1" width="400px">
        <p>allen solly</p>
        <p>Men's shrit</p>
        <p>rs.499</p>
        <span><button>Add to Cart</button>  <a href="/buy-page">Buy now</a></span>
    </div>
    <div class="box"><img src="{% static 'images/mens2.jpg' %}" alt="men1" width="400px">
        <p>allen solly</p>
        <p>Men's shrit</p>
        <p>rs.499</p>
        <span><button>Add to Cart</button>  <button>Buy now</button></span>
    </div>
    <div  class="box"><img src="{% static 'images/mens3.jpg' %}" alt="men1" width="400px">
        <p>allen solly</p>
        <p>Men's shrit</p>
        <p>rs.499</p>
        <span><button>Add to Cart</button>  <button>Buy now</button></span>
    </div>
    <div  class="box"><img src="{% static 'images/mens4.jpg' %}" alt="men1" width="400px">
        <p>allen solly</p>
        <p>Men's shrit</p>
        <p>rs.499</p>
        <span><button>Add to Cart</button>  <button>Buy now</button></span>
    </div>
    <div  class="box"><img src="{% static 'images/mens5.jpg' %}" alt="men1" width="400px">
        <p>allen solly</p>
        <p>Men's shrit</p>
        <p>rs.499</p>
         <span><button>Add to Cart</button>  <button>Buy now</button></span>
    </div>
    <div  class="box"><img src="{% static 'images/mens6.jpg' %}" alt="men1" width="400px">
        <p>allen solly</p>
        <p>Men's shrit</p>
        <p>rs.499</p>
        <span><button>Add to Cart</button>  <button>Buy now</button></span>
    </div>
    <div  class="box"><img src="{% static 'images/mens7.jpg' %}" alt="men1" width="400px">
        <p>allen solly</p>
        <p>Men's shrit</p>
        <p>rs.499</p>
        <span><button>Add to Cart</button>  <button>Buy now</button></span>
    </div>
    <div  class="box"><img src="{% static 'images/mens8.jpg' %}" alt="men1" width="400px">
        <p>allen solly</p>
        <p>Men's shrit</p>
        <p>rs.499</p>
        <span><button>Add to Cart</button>  <button>Buy now</button></span>
    </div>
    <div  class="box"><img src="{% static 'images/mens9.jpg' %}" alt="men1" width="400px">
        <p>allen solly</p>
        <p>Men's shrit</p>
        <p>rs.499</p>
        <span><button>Add to Cart</button>  <button>Buy now</button></span>
    </div>
</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.4651450963775!2d79.97565387454912!3d13.133033511319487!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a528f0f1724b56f%3A0xec3580a75e151de5!2sGovernment%20Polytechnic%20College%2C%20Sevvapet!5e0!3m2!1sen!2sin!4v1708146901610!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</body>
{% endblock %}
</html>